
.blog-page-container,
.about-page-container,
.projects-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 93vh;

  .navigation-container {
    height: 18vh;
    order: 1;

    .full-name-header-container {
      font-size: 1.5vw;
      text-transform: uppercase;
      color: white;
      display: flex;
      justify-content: space-around;

      h1 {
        margin-bottom: 1vh;
        margin-top: 1vh;

      }

      .header-link {
        cursor: pointer;
      }
    }

    .navigation {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      font-size: 1.25vw;


      ul {
        margin-bottom: 0vh;
        margin-top: 0vh;
        display: inline-flex;
        list-style-type: none;
        padding-left: 0;
        width: 100%;
        justify-content: space-between;
      }

      .bar {
        height: 100%;
        border-left: 2px solid white;
      }

      a {
        padding: 4px;
        color: white;
        text-transform: uppercase;
      }
      a:link {
        text-decoration: none;
      }
      a:visited {
        text-decoration: none;
      }
      a:hover {
        text-decoration: none;
        color: $brown;
        background-color: white;
        opacity: 0.8;
      }
      a.active {
        text-decoration: none;
        background-color: white;
        color: $brown;
        pointer-events: none;
      }
    }
  }
}


@media (max-width: 950px) {
  .navigation-container {
    flex-basis: auto;
    width: 91vw;
    display: flex;
    flex-wrap: wrap;
    height: initial !important;
    justify-content: space-between;

    .full-name-header-container {
      order: 1;
      h1 {
        font-size: 4vw !important;
        padding-left: 2vw;
      }
    }

    .navigation {
      order: 2;
      flex-basis: auto;
      width: initial !important;
      font-size: 4vw !important;
      font-weight: 600;
      align-items: center;
      .bar {
        display: none
      }
    }

  }
}