.projects-page-container {

  .projects-content {
    order: 2;
    background-color: white;
    width: 93vw;
    height: 74vh;
    overflow: scroll;
    border-top: $border;
    border-bottom: $border;
  }

}

.project {
  display: flex;
  justify-content: space-around;
  margin-top: 3vw;

  .project-image-container {
    order: 1;
    display: flex;
    flex-direction: column;

    .project-image {
      width: 44vw;
      margin: 1vw;
      background-color: $brown;
      padding: .16vw
    }
  }

  .project-info-container{
    order: 2;
    color: $brown;
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin-right: 4vw;

    h1 {
      font-size: 4vw;
      margin: 0;
    }

    .project-link-container {
      display: inline-flex;
      margin-top: 1vw;

      .project-link {
        color: $green;
        margin-right: 1vw;
        font-size: 1.5vw;
      }

      .project-link:hover {
        color: $dark-green;
      }
    }
  }

}


@media (max-width: 1000px) {
  $width: 85vw;
  .project {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  .project-image-container {
    order: 1;
    display: flex;
    flex-direction: column;

    .project-image {
      width: $width;
      margin: 1vw;
      background-color: $brown;
      padding: .16vw
    }
  }

    .project-info-container{
      display: flex;
      flex-direction: column;
      width: $width;
      margin-right: 0;

      h1 {
        font-size: 8vw;
        order: 1;
      }
      .project-description {
        order: 2;
      }

      .project-details {
        display: none;
      }

      .project-link-container {
        display: none;
      }

    }
  }
}