@import 'constants';
@import 'projects';
@import 'main';
@import 'container';

html {
  background: url('../../public/assets/main.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}


body {
  height: 92vh;
  width: 93vw;
  margin-right: 3.5vw;
  margin-left: 3.5vw;
  margin-top: 3.5vh;
  border: $border;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

